/*
font-family: 'Abril Fatface', cursive;
font-family: 'Patua One', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Archivo Black', sans-serif;

*/

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #8fbc8f;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
  font-weight: 300;
  margin: 0 0 20px 0;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-weight: 300;
  font-size: 4em;
}

a[href^="mailto:"] {
  font-size: 2em;
  font-family: 'Amatic SC', cursive;
  color: #1f341f;
  text-decoration: none;
  word-break: break-all;
  padding-bottom:70px;
  display: block;
}

.container {
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 177px;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
}

.quadrato {
  width: 280px;
  height: 180px;
  border: 3px solid white;
  background-color: #cccccc;
  text-align: center;
  vertical-align: middle;
  padding-top: 100px;
  font-size: 2em;
  font-family: "Amatic SC", cursive;
  color: #333333;
  float: left;
}

.trecubi {
  clear: both;
}

#tutticubi {
  width:860px;
  margin: auto;
  margin-top: 200px;
}

#banner {
  width: 500px;
  height: 162px;
  margin-left: 177px;
  background-image: url(./LogoVL-01.svg);
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -86px;
}
