/*
font-family: 'Abril Fatface', cursive;
font-family: 'Patua One', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Archivo Black', sans-serif;

*/

body {
  background-color: white;
  margin: 50px;
  padding: 0;
  text-align: center;
  color: #cccccc;
}
h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
  font-weight: 300;
  margin: 0 0 20px 0;
}
h2 {
  font-family: 'Amatic SC', cursive;
  font-weight: 300;
  font-size: 4em;
}
a[href^="mailto:"] {
  font-size: 2em;
  font-family: 'Amatic SC', cursive;
  color: #1f341f;
  text-decoration: none;
  word-break: break-all;
  padding-bottom: 70px;
  display: block;
}
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 177px;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
}
.quadrato {
  width: 280px;
  height: 180px;
  border: 3px solid white;
  background-color: #cccccc;
  text-align: center;
  vertical-align: middle;
  padding-top: 120px;
  font-size: 2em;
  font-family: "Amatic SC", cursive;
  color: #333333;
  float: left;
}
.trecubi {
  clear: both;
}
#tutticubi {
  width: 860px;
  margin: auto;
  margin-top: 80px;
}
#banner {
  width: 500px;
  height: 162px;
  margin-left: 177px;
  background-image: url(./images/LogoVL-01.svg);
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -86px;
}
#immagine {
  background-image: url(./images/IMG1-01.svg);
  background-repeat: no-repeat;
  background-color: white;
}
.titoli {
  font-size: 2em;
  font-family: "Amatic SC", cursive;
  color: #333333;
}
#insiemi {
  width: 400px;
  height: 400px;
  margin: auto;
  background-image: url(./images/insieme.svg);
  background-repeat: no-repeat;
  background-color: white;
}
.testo {
  font-size: 1.8em;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
}
#doveContenitore {
  padding-top: 100px;
  margin: auto;
  width: 70%;
}
#cerimonia {
  height: 203px;
  background-color: #C9DACC;
  color: white;
  text-align: left;
  font-family: 'Abril Fatface', cursive;
  padding: 10px;
  border: 3px solid white;
}
div#cerimonia h1 {
  font-family: 'Abril Fatface', cursive;
  font-style: oblique;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: -35px;
  margin-left: 20px;
}
div#cerimonia h2 {
  font-family: 'Abril Fatface', cursive;
  font-style: oblique;
  letter-spacing: 3px;
  font-size: 2em;
  font-weight: 300;
  margin-left: 20px;
}
div#cerimonia p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: font-size: 1em;
  margin-top: -10px;
  margin-left: 20px;
}
#superPartyTime {
  height: 203px;
  background-color: #94B69A;
  color: white;
  text-align: right;
  font-family: 'Abril Fatface', cursive;
  padding: 10px;
  border: 3px solid white;
}
div#superPartyTime h1 {
  font-family: 'Abril Fatface', cursive;
  font-style: oblique;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: -35px;
  margin-right: 20px;
}
div#superPartyTime h2 {
  font-family: 'Abril Fatface', cursive;
  font-style: oblique;
  letter-spacing: 3px;
  font-size: 2em;
  font-weight: 300;
  margin-right: 20px;
}
div#superPartyTime p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-top: -10px;
  margin-right: 20px;
}
#mappamondo {
  width: 450px;
  height:250px;
  float: left;
  margin-left: 176px;
  background-image: url(./images/Mondo.svg);
  background-repeat: no-repeat;
  background-color: white;
}
h1.titolo-sezione {
  font-size: 3em;
  font-family: "Amatic SC", cursive;
  color: #333333;
  font-weight: 300;
}
#immagini-vestiti-lui {
  width: 500px;
  height:90px;
  margin: auto;
  background-image: url(./images/abitiuomo-01.svg);
  background-repeat: no-repeat;
  background-color: white;
}
#immagini-vestiti-lei {
  width: 500px;
  height:90px;
  margin: auto;
  background-image: url(./images/abitidonna-01.svg);
  background-repeat: no-repeat;
  background-color: white;
}
#si-sposano {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  font-size: 7.5em;
  margin-top: 20px;
  color: #dadada;
}
#data-lettere {
  font-family: 'Abril Fatface', cursive;
  font-style: oblique;
  font-size: 2.6em;
  margin-top: -120px;
}
#data-numeri {
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
  font-size: 12em;
  margin-top: -80px;
}
#data-riassunto {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 3.1em;
  margin-top: -220px;
  color: #dadada;
}
#footer-tradizioni {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 1em;
  margin-top: 80px;
  color: #d7d7d7;
}
#regali {
  float:left;
  text-align: left;
}
#viaggioElementi {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 1em;
}
#footer {
  float: none;
  clear: both;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}
.iban {
  font-weight: bolder;
  padding: 5px;
}
#ringrazia {
  font-family: 'Dancing Script', cursive;
  font-size: 1.2em;
}
